.artist {
  height: 440px;
  background: #6acb97;
  position: relative;
}

.artist__follower {
  position: absolute;
  top: 30px;
  left: 230px;
  width: 120px;
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist__following {
  position: absolute;
  top: 70px;
  left: 230px;
  width: 120px;
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist__info {
  position: absolute;
  padding: 40px;
  box-sizing: border-box;
  background-color: black;

  height: 380px;
  width: 380px;
  top: 30px;
  left: 200px;
  color: white;
  border-radius: 30px;
  box-shadow: 5px 5px 5px grey;
}

.artist__photo i {
  font-size: 70px;
}

.artist__info__name {
  font-size: 40px;
  height: 50px;
  margin-top: 15px;
}
.artist__info__discription {
  font-family: "GmarketSansTTFLight";
  margin-top: 10px;
}
.artist__info__location {
  font-family: "GmarketSansTTFLight";
  margin-top: 60px;
}
.artist__info__email {
  font-family: "GmarketSansTTFLight";
  margin-top: 10px;
}
.artist__info__others {
  font-family: "GmarketSansTTFLight";
  margin-top: 10px;
}

.artist__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 30px;
}

.works__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 30px 150px;
}

.works__card {
  box-sizing: border-box;
  margin-top: 30px;
  padding: 20px;
  height: 350px;
  width: 350px;
  background-color: grey;
}

.works__card__info {
  position: relative;
  color: white;
  font-family: "GmarketSansTTFLight";
  top: 260px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.works__card__info__photo {
  font-size: 50px;
  width: 50px;
}

.works__card__info__text {
  font-size: 20px;
  color: white;
  font-family: "GmarketSansTTFLight";
  align-self: center;
}
