<nav class="nav">
    <div class="nav__home">
     <a href=#{routes.home}> 홈 </a><i class="fas fa-home"></i>
     <div class="purple-box-home"></div>
     </div>
    <div class="nav__showcase">
    <a href=#{routes.showcase}>쇼케이스</a>
    </div>
    <div class="nav__feed"><a href=#{routes.clip}>피드</a></div>
</nav>