.nav {
  margin: 0 30px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

.nav > * {
  height: 80%;
  border-bottom: 5px solid var(--purple);
  display: flex;
  align-items: center;
}

.nav__home {
  position: relative;
}

.nav__showcase {
  position: relative;
}

/* 디자인팀에서 이거 없애보림

.purple-box-home {
  width: 60px;
  height: 10px;
  background-color: var(--purple);
  position: absolute;
  bottom: 7px;
  left: -5px;
  z-index: -1;
}

.purple-box-showcase {
  width: 80px;
  height: 10px;
  background-color: var(--purple);
  position: absolute;
  bottom: 7px;
  left: -4px;
  z-index: -1;
} */
