doctype html
html
    head
        title art clip
        link(rel="stylesheet", href="/static/styles.css")
    body
        header
        include ../partial/header
        include ../partial/navbar
        main
            block content
        script(src="/static/main.js")