/* profile */

.artist-profile {
  display: flex;
  width: 100%;
  height: 480px;
}

.artist-profile__column:first-child {
  position: relative;
  width: 27%;
}

.artist-profile__follow-container {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.artist-profile__info {
  padding: 100px 80px;
  font-size: 18px;
}

.artist-profile__info__photo > i {
  font-size: 90px;
}

.artist-profile__info__name {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 40px;
}

.artist-profile__info__discription {
  margin-top: 10px;
}

.artist-profile__info__location {
  margin-top: 30px;
}

.artist-profile__info__location > i {
  margin-right: 13px;
}

.artist-profile__column:last-child {
  position: relative;
  width: 73%;
  background-color: black;
  color: white;
}

.artist-profile__column:last-child a {
  position: absolute;
  padding: 15px 30px;
  right: 30px;
  bottom: 30px;
  border: 0.5px solid white;
  border-radius: 30px;
  font-size: 21px;
  cursor: pointer;
}

/* nav */

.artist__nav {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.artist__nav__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 300px;
  height: 80px;
  font-size: 21px;
}

.artist__nav__text__column {
  display: flex;
  align-items: center;
}

.artist__nav__text__column a {
  cursor: pointer;
}

.artist__nav__text__column span:last-child {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  margin-left: 7px;
}

.artist__nav__hightlight {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 213px;
  height: 5px;
}

.artist__nav__hightlight__column {
  margin: 0 50px;
  box-sizing: border-box;
}

.artist__nav__hightlight > .visible {
  background-color: var(--purple);
}

/* 전체 그리드 */

.artist__card-grid {
  width: 80vw;
  gap: 2vw;
  margin: 2vw 10vw;
  display: grid;
  overflow: hidden;
}

/* 반응형 그리드 */

@media (min-width: 1024px) {
  .artist__card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .artist__card-grid__card__img {
    height: 25vw;
  }
}

@media (min-width: 512px) and (max-width: 1023px) {
  .artist__card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .artist__card-grid__card__img {
    height: 40vw;
  }
}

@media (max-width: 511px) {
  .artist__card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .artist__card-grid__card__img {
    height: 80vw;
  }
}

/*img*/

.artist__card-grid__card__img {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
