.search__nav {
  font-family: Noto Sans CJK KR;
  margin-top: 80px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.search__nav__text {
  display: flex;
  align-items: center;
  font-size: 21px;
}

.search__nav__text__column {
  padding: 0 10px;
}

.search__nav__text__column:nth-child(1),
.search__nav__text__column:nth-child(2) {
  border-right: var(--main-border);
}

/*select*/
.selects {
  margin-right: 20px;
}

.select-container {
  display: inline-block;
}

.select {
  padding: 5px 20px 5px 20px;
  font-family: Noto Sans CJK KR;
  font-size: 16px;
  color: var(--purple);
  border-color: var(--purple);
}

@media (max-width: 675px) {
  .search__nav {
    flex-direction: column;
    align-items: center;
  }
  .select {
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
  }
}

@media (max-width: 350px) {
  .search__nav {
    flex-direction: column;
    align-items: center;
  }
  .select {
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
  }
}
